[submodule "contrib/proverif_2_05"]
	path = contrib/proverif_2_05
	url = https://github.com/comeillfoo/proverif_2_05.git
[submodule "tools/subc2pv"]
	path = tools/subc2pv
	url = https://github.com/comeillfoo/subc2pv.git
